ESTRUCTURA DE DATOS (Secuencias, diccionarios, conjuntos)

Tipos de datos

In [1]:
texto="Esto es un texto" # entre comillas dobles o triples
entero= 10
decimal=10.5
booleano= True #verdadero o falso

print (type(texto))
print (type(entero))
print (type(decimal))
print (type(booleano))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [1]:
nombre="carlos"
nombre.capitalize()

'Carlos'

In [17]:
"a" in nombre

True

In [2]:
nombre.find("l")

3

In [22]:
mail="carlosvilamol@gmail.com Barcelona"

posicion1=mail.find("@")
print (posicion1)

posicion2=mail.find(" ")
print (posicion2)

cuenta=mail[posicion1+1:posicion2]
cuenta

13
23

'gmail.com'

In [4]:
nombre.find("j")#Si no lo encuentra te devuelve -1

-1

In [5]:
x="hola Carlos"

In [9]:
y=x.replace("Carlos","lucia")

In [10]:
print (y)

hola lucia

In [3]:
nombre.upper()

'CARLOS'

In [11]:
nom="banana"

In [12]:
nom1=nom.replace("a","o")

In [13]:
print (nom1)

bonono

In [14]:
frase="      Hola lucia     "

In [15]:
frase

'      Hola lucia     '

In [16]:
frase.strip()#le quita los espacios de izquierda y derecha.....  .lstrip() solo izquierda;  .rstrip() solo derecha

'Hola lucia'

In [1]:
nombre=("Carlos\nVila")#con el simbolo \n separa las cadenas de texto en dos lineas

In [2]:
print (nombre)

Carlos
Vila

In [35]:
text = "X-DSPAM-Confidence:    0.8475"
primera=text.find(":")
ultima=text.find("5")

ejercicio=text[primera+1:ultima+1]

ej_final=ejercicio.lstrip()

ej_final=float (ej_final)


print (ej_final)

0.8475

In [7]:
entrada =input ("-->")
print ("Has escrito:"+entrada)

-->Mi nombre es carlos
Has escrito:Mi nombre es carlos

In [2]:
#marcadores aritmeticos

a=3+7
b=2*4
c=2**4
d=c//a
e=a%b

print (a)
print (b)
print (c)
print (d)
print (e)

10
8
16
1
2

In [3]:
#marcadores comparativos

b=5
print (a==b)
print (a!=b) #  != "distinto"
print (a<b)
print (a>b)

False
True
False
True

In [4]:
# marcadores logicos

a= 6
a>4 and a<5

False

SECUENCIAS

In [6]:
#Las secuencias de dividen en: tuple (inmutable); list [mutable]; str ("inmutable y letras")

tuple_1=(1,2,3,4,5) #inmutabe
list_1= [1,2,3,4,5] #   mutable para poner corchete cont+alt+U
str_1= "esto es una cadena"

print (type (tuple_1))
print (type (list_1))
print (type (str_1))

<class 'tuple'>
<class 'list'>
<class 'str'>

In [6]:
tuple_1[3] # entre []; le estoy pidiendo que me diga el valor que esta en el puesto 3 de la secuencia, 
#empieza a contar desde 0

4

In [8]:
str_1[8]

'u'

In [11]:
list_1[3]=8
list_1[3]

8

In [39]:
# si ponemos -, le estamos pidiendo que empieze a contar desde el final

print (tuple_1[1])
print (tuple_1 [0])
print (tuple_1[-1])
print (tuple_1[-0])

2
1
4
1

In [13]:
#puedo cambiar entre los distintos tipos de secuencias

tuple_2=tuple(list_1)
list_2=list(tuple_1)

In [14]:
list_2[2]=8
list_2[2]

8

In [15]:
print (str_1)

esto es una cadena

In [19]:
list_3=list(str_1)
print (list_3)

['e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a']

In [18]:
tuple_3=tuple(str_1)
print (tuple_3)

('e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a')

In [24]:
#dentro de cada secuencia (da igual el tipo), podemos tener varias varias tuplas, listas, o str

tuple_1=(1,2,[4,5,6],"joder", 9,10, "soy genial")

tuple_1[2], tuple_1[3]

([4, 5, 6], 'joder')

In [ ]:
# con + podemos unir distintas secuencias

In [28]:
tuple_1= (1,2,3,4)
list_1=[1,2,3,4]
str_1= "buenos dias, me llamo"

tuple_2= (5,6,7,8)
list_2=[5,6,7,8]
str_2= "Carlos Vila, y vivo en barcelona"

tuple_3= tuple_1 +tuple_2
list_3= list_1+ list_2
str_3= str_1+str_2

print (tuple_3)
print (list_3)
print (str_3)

(1, 2, 3, 4, 5, 6, 7, 8)
[1, 2, 3, 4, 5, 6, 7, 8]
buenos dias, me llamoCarlos Vila, y vivo en barcelona

In [29]:
# si lo quiero multiplicar, me lo repite n veces

tuple_4= tuple_1*4
print (tuple_4)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [30]:
str_4= str_3*3
print (str_4)

buenos dias, me llamoCarlos Vila, y vivo en barcelonabuenos dias, me llamoCarlos Vila, y vivo en barcelonabuenos dias, me llamoCarlos Vila, y vivo en barcelona

In [27]:
# para hacer esta sume deben ser del mismo tipo

comb1= tuple_1+ list_2
comb2= list_2+ str_3
comb3= tuple_1+ list_2+ str_3

print(comb1)
print (comb2)
print (comb3)

TypeError: can only concatenate tuple (not "list") to tuple

In [32]:
# podemos comprobar si un elemento esta en la secuencia que queremos

print (6 in tuple_1)
print (3 in tuple_3)
print ("b" not in str_1) #las letras siempre entre comillas
print ("b" in str_1)

False
True
False
True

In [46]:
# a parte de valores individuales, podemos coger tramos en distintas frecuencias, mediante un esquema (a,b,c), donde

# a: la primera posición que coje (si no digo nada coge el primero)
# b: la ultima posición que coge (si no digo nada se va al ultimo)
# c: la frecuencia, de 1 en 1, de 2 en 2, etc (si no pongo nada ira de 1 en 1)


list_5=[1,2,3,4,5,6,7,8,9,"a","s","d","fg","palabra"]

print (list_5[1:12:2])
print (list_5[:8:1]) #si en la posición "a" no pongo nada empieza desde el principio
print (list_5[4::3]) #si en la posición "b" no pongo nada  acaba en el final
print (list_5[2:10:]) #si en la posición "c" no pongo nada, va de 1 en 1

[2, 4, 6, 8, 'a', 'd']
[1, 2, 3, 4, 5, 6, 7, 8]
[5, 8, 's', 'palabra']
[3, 4, 5, 6, 7, 8, 9, 'a']

In [3]:
amigos=["lucia", "dani", "olga", "sergio"]

for i in amigos:
    print ("feliz cumplaños:", i)

feliz cumplaños: lucia
feliz cumplaños: dani
feliz cumplaños: olga
feliz cumplaños: sergio

In [7]:
cuenta=0
total=0
while True:
    valor=input ("marca un numero:")
    if valor=="final":
        break
    valor=int(valor)
    total=total+valor
    cuenta=cuenta+1
    if cuenta==5:
        break
    

print ("el valor medio es:", total/cuenta)

marca un numero:7
marca un numero:9
marca un numero:8
marca un numero:7
marca un numero:9
el valor medio es: 8.0

In [8]:
#podemos pasar una cadena a una lista con split

cadena="Buenos dias mi nombre es carlos"

lista=cadena.split()

print (lista)

['Buenos', 'dias', 'mi', 'nombre', 'es', 'carlos']

In [ ]:
fname = input("Enter file name: ")
fh = open(fname)
lst = list()
for line in fh:
    line=line.rstrip()
    line=line.split()
    lst=lst+line
    
lst.sort()
lista=list()
for i in lst:
    if not i in lista:
        lista.append(i)
        
print (lista)

In [ ]:
fname = input("Enter file name: ")
fh = open(fname)
lst = list()
for line in fh:
    line=line.rstrip()
    line=line.split()
    for i in line:
        if not i in lst:
            lst.append(i)

lst.sort()
       
print (lst)

In [ ]:
fname = input("Enter file name: ")
if len(fname) < 1:
    fname = "mbox-short.txt"

fh = open(fname)
count = 0
lista=list()
for line in fh:
    if not line.startswith ("From"):
            continue
    if line.startwith("From:"):
        continue
    lista=line.split()
    lista=lista[1]
    print (lista)
    for i in listrint (count)

print (list)
     

print("There were", count, "lines in the file with From as the first word")

In [ ]:
count = 0
fname = input("Enter file name: ")
fh = open(fname)
lista=list()
for line in fh:
    if line.startswith ("From"):
        if line.startswith ("From: "):
            continue
        else:
            count=count+1
            lista=line.split()
            print (lista[1])
print("There were", count, "lines in the file with From as the first word")

In [14]:
cadena="buenos;dias;me;llamoa;carlos"#si esta unido por ;, no detecta el espacioy te hace una unica lista
lista=cadena.split()
print (lista)

['buenos;dias;me;llamoa;carlos']

In [15]:
lista=cadena.split(";")#Si lo indicamos de esta forma, lo separara cada vez que encuentre el caracter ;
print (lista)

['buenos', 'dias', 'me', 'llamoa', 'carlos']

In [ ]:
fname = input("Enter file name: ")
fh = open(fname)
lst = list()
for line in fh:
print(line.rstrip())

In [53]:
str_5 ="buenos días vivo en barcelona"

print (str_5[0::])
print (str_5[-3::1])
print (str_5[::2])

buenos días vivo en barcelona
ona
beo ísvv nbreoa

In [55]:
print (list_5[::-1])# si en la C ponemos un numero negativo, nos da los balores al reves
print (list_5 [::-2])

['palabra', 'fg', 'd', 's', 'a', 9, 8, 7, 6, 5, 4, 3, 2, 1]
['palabra', 'd', 'a', 8, 6, 4, 2]

In [58]:
list_6=list_5[:9:]
print (list_5)
print (list_6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 's', 'd', 'fg', 'palabra']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
#para conocer lalongitud de la secuencia, usamos la función "len"
print (len(list_5))
print (len(str_5))

14
29

In [62]:
#para conocer la posición en laque se encuentra un elemento, usamos la función "index", si no tiene el elemnto dara error

print (list_5.index(4))
print (list_6.index(9))

3
8

In [63]:
print (list_5.index(18))

ValueError: 18 is not in list

In [65]:
# para saber el numero de veces que aparece un elemento, usamos función "count"

lista_1= 1,1,1,1,2,3,4,5,5,5,6,7,7,8,1

print (lista_1.count(1))
print (lista_1.count(3))
print (lista_1.count(5))

5
1
3

In [70]:
#podemos darle un nombre a cada variable de la lista

lista_2= "carlos","lucia", "pol", "laura"

var_1, var_2, var_3, var_4 = lista_2

print (var_1)
print (var_2)
print (var_3)
print (var_4)

carlos
lucia
pol
laura

In [72]:
#podemos unir 2 listas elemento a elemento con la función "zip"; para print, poner la función "list"

lista_1= "V", "S", "G", "M"

nombre_apellido= zip(lista_2,lista_1)

print (list(nombre_apellido))

[('carlos', 'V'), ('lucia', 'S'), ('pol', 'G'), ('laura', 'M')]

In [75]:
lista1= 1,2,3
lista2= "uno", "dos", "tres"

lista_1_2= (zip(lista1,lista2))

print (list(lista_1_2))

[(1, 'uno'), (2, 'dos'), (3, 'tres')]

In [78]:
#para crear listas de distinto tamaño, usamos la función "range"

lista_1=(range(10))

print (lista_1)

range(0, 10)

In [80]:
lista_1= (list(lista_1))

print (lista_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
lista_2 =range (5,20,2)
lista_2= (list (lista_2))
print (lista_2)

[5, 7, 9, 11, 13, 15, 17, 19]

In [84]:
print (type(lista_1))

<class 'list'>

In [93]:
lista_1=(list(lista_1))
print (type(lista_1))

<class 'list'>

In [6]:
#con las funciones "append" (al final) y "insert" (idicandole la posición), podemos añadir elementos a las listas (mutables) 
#En los tuple y str dara error

lista_1=[1,2,3,4,"perro", 7, "leon"]
lista_1.append("culo")
lista_1.insert(4, "carlos")
print (lista_1)

[1, 2, 3, 4, 'carlos', 'perro', 7, 'leon', 'culo']

In [7]:
lista_1.append(55)

In [12]:
lista_1.insert(3,"23")

print (lista_1)

[1, 2, '23', '23', '2', '2', 3, 4, 'carlos', 'perro', 7, 'leon', 'culo', 55]

In [17]:
lista_2= [1,2,3,4,5,6,7,8]

In [19]:
lista_2.append (9)
print (lista_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [9]:
lista_1= range(20)
lista_1= (list(lista_1))
print (lista_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [16]:
lista_1 [2:10]=(4,7,6)
print (lista_1)

[0, 1, 4, 7, 6, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
lista_1= ["uno", "dos", "cuatro"]
print (lista_1)

['uno', 'dos', 'cuatro']

In [29]:
lista_1.append ("cinco")
lista_1.insert(2,5)
print (lista_1)

['uno', 'dos', 5, 'tres', 'tres', 'tres', 'tres', 'cuatro', 'cinco', 'cinco', 'cinco', 'cinco', 'cinco', 'cinco', 'cinco', 'cinco', 'cinco']

In [34]:
#podemos modificar un tramo dentro de la lista, indicando sus posiciones [n:m]= x,y,z "nuevos elementos que queramos sustituir
#si el numero de posiciones es mayor que el de sustitutos, se eliminara el resto

lista1= [1,2,3,4,5]
lista1[2:3]=("carlos", "lucia")
print(lista1)

[1, 2, 'carlos', 'lucia', 4, 5]

In [36]:
# con pop, nos muestra el valor elegido y despues lo elimina de la lista
print (lista1.pop (2))
print (lista1)

lucia
[1, 2, 4, 5]

In [42]:
lista_1= [1,2,4,5,6,5,7]
lista_1.insert (2,3)
print (lista_1)

[1, 2, 3, 4, 5, 6, 7]

In [48]:
#podemos borrar valores de una lista con las funciones .remove (elimina el valor que le indique) o  función del
lista_1.insert (2, "carlos")
lista_1.insert (5, "lucia")
print (lista_1)
lista_1.remove ("carlos")
del lista_1 [4]
print (lista_1)

[1, 2, 'carlos', 3, 4, 'lucia', 'lucia', 7]
[1, 2, 3, 4, 'lucia', 7]

In [52]:
#podemos pedir que nos ordene una lista de valores con sort. puede ser del derecho (.sort () o .sort (reverse=false)) o 
# del rever (.sort(reverse=true))

lista_1=[4,5,1,4,7,2,3,33,45,23,9]
lista_1.sort()
print (lista_1)
lista_1.sort(reverse=False)
print (lista_1)
lista_1.sort (reverse=True)
print(lista_1)

[1, 2, 3, 4, 4, 5, 7, 9, 23, 33, 45]
[1, 2, 3, 4, 4, 5, 7, 9, 23, 33, 45]
[45, 33, 23, 9, 7, 5, 4, 4, 3, 2, 1]

In [57]:
#la funcion extend seria similar a sumar, pero en este caso no tenemos que crear una nueva lista
lista_2=3,4,5,6,7,8

lista_1.extend (lista_2)

print (lista_1)
lista_1.sort()
print (lista_1)

[1, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 9, 23, 33, 45, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 23, 33, 45]

In [69]:
#en cadenas de texto, podemos usar la funcion .upper o .lower para pasar de mayusculas a minusculas

cadena1="Hola me llamo Carlos"

print (cadena1.upper())

cadena2= "Y VIVO EN Barcelona, Barcelona"

print (cadena2.lower())

HOLA ME LLAMO CARLOS
y vivo en barcelona, barcelona

In [70]:
#en cadena, podemos cambiar un elemento por con la función .replace ( "palabra que quieres cambiar", "nueva palabra"),
#y lo hara todas las veces que lo encuentre. si solo queremos q pase una vez .replace ("x", "y", 1)

print (cadena1.replace ("Carlos", "Lucia"))

print (cadena2.replace("Barcelona", "Barbera"))

print (cadena2.replace("Barcelona", "Barbera",1))

Hola me llamo Lucia
Y VIVO EN Barbera, Barbera
Y VIVO EN Barbera, Barcelona

DICCIONARIOS

In [3]:
# los dicionarios en python permiten guardar listas de claves con valores. lo indicamos con{}

mydic={"nombre":"carlos", "edad":30}
mydic

{'nombre': 'carlos', 'edad': 30}

In [1]:
dicc=dict()

In [11]:
dicc["edad"]= 30

In [12]:
print (dicc)

{'nombre': 'lucia', ('nombre', 'apellido', 'edad'): ('carlos', 'vila', 30), 'edad': 30}

In [15]:
dicc["edad"]=dicc["edad"]+5

In [16]:
dicc

{'nombre': 'lucia',
 ('nombre', 'apellido', 'edad'): ('carlos', 'vila', 30),
 'edad': 35}

In [18]:
dicc=dict()
nombre=("carlos", "lucia", "pol", "laura","lucia", "pol", "laura", "laura","lucia", "pol", "laura")
for i in nombre:
    if i not in dicc:
        dicc[i]=1
    else:
        dicc[i]=dicc[i]+1

print (dicc)

{'carlos': 1, 'lucia': 3, 'pol': 3, 'laura': 4}

In [38]:
#podemos hacer la misma operación que antes pero mas rapida, con la función .get (substituye al if, else)
dicc=dict()
nombre="carlos", "lucia", "pol", "laura","lucia", "pol", "laura", "laura","lucia", "pol", "laura"
for i in nombre:
    dicc[i]=dicc.get(i,0)+1#FORMULA IMPORTATNTE

print (dicc)

{'carlos': 1, 'lucia': 3, 'pol': 3, 'laura': 4}

In [44]:
mydic={"nombre": "carlos", "apellido": "vila", "telf":687232427}

In [40]:
mydic

{'nombre': 'carlos', 'apellido': 'vila', 'telf': 687232427}

In [41]:
mydic=(list(mydic))#si lo pasamos a una lista nos dara solo los valores de las keys

In [42]:
mydic

['nombre', 'apellido', 'telf']

In [45]:
#PODEMOS USAR ESTA FUNCIÓN PARA QUE NOS DEVUELVA TODAS LAS PAREJAS DEL DICCIONARIO
for k,v in mydic.items():#AL SER UN DICCIONARIO PODEMOS USAR 2 VARIABLES EN EL FOR (k,v)
    print (k,v)

nombre carlos
apellido vila
telf 687232427

In [5]:
mydic.keys()

dict_keys(['nombre', 'edad'])

In [6]:
mydic.values()

dict_values(['carlos', 30])

In [7]:
mydic.items()

dict_items([('nombre', 'carlos'), ('edad', 30)])

In [9]:
mydic ["peso"]=82
mydic

{'nombre': 'carlos', 'edad': 30, 'peso': 82}

In [10]:
mydic.update({"peso":78})
mydic

{'nombre': 'carlos', 'edad': 30, 'peso': 78}

In [11]:
nuevo_dic=mydic.copy()
nuevo_dic

{'nombre': 'carlos', 'edad': 30, 'peso': 78}

In [16]:

nuevo_dic

{'edad': 30, 'peso': 78}

In [24]:
mydic.clean()
nuevo_dic

AttributeError: 'dict' object has no attribute 'clean'

In [ ]:
name = input("Enter file:")
name = "mbox-short.txt"
handle = open(name)
dic=dict()
lista=list()

for i in handle:
    if i.startswith("From"):
        if i.startswith("From:"):
            continue
    else:
        palabra=i.split()
        lista.append(palabra[1])
        
for palabra in lista:
    dic[palabra]=dic.get(palabra,0)+1
        
email=None
numero1=None

for mail,numero in dic.items():
    if email is None or numero > email:
        
        numero1=palabra
        email=numero
        
print (numero1, email)

CONJUNTOS (SET)

In [73]:
#Los conjuntos se colocan entre {cont+alt+A}, siendo solo valores irrepetibles

conjunto1={1,2,3,4,5,6}
print (type(conjunto1))

print (conjunto1)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [74]:
lista1=1,2,3,3,3,4,5
set(lista1) #no puede tener elementos repetidos

{1, 2, 3, 4, 5}

In [76]:
#podemos unir dos conjuntos con | (cont+alt+1); tambien podemos pedirle los elementos que tienen en comun con &

conj1={1,2,3,4,5,6}
conj2={5,6,7,8,9}

conj3=(conj1|conj2)
print (conj3)

print (conj1&conj2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5, 6}

In [77]:
#con algunos signos aritmeticos tambien podemos hacer operaciones
# - para elementos que estan en el conjunto 1 pero no en el dos
# ^ para elementos que no esten en comun

print (conj1-conj2)
print (conj2-conj1)
print (conj1^conj2)

{1, 2, 3, 4}
{8, 9, 7}
{1, 2, 3, 4, 7, 8, 9}

In [78]:
# podemos comprobar si un elemento esta en un conjunto

3 in (conj1)

True

In [79]:
#podemos comprovar si un conjunto esta dentro de otro con >= o <=
conj3>=conj1

True

In [80]:
conj3<=conj2

False

In [84]:
# podemos eliminar un elemento con .remove (si el elemento no esta dara error) o .discard

conj1.discard(1)
print (conj1)

conj1.remove (5)
print (conj1)

{2, 3, 4, 5, 6}
{2, 3, 4, 6}

In [3]:
nombre="carlos vila molares".split()[0]
segundo_apellido= "carlos vila molares".split()[-1]

print (nombre)
print(segundo_apellido)

carlos
molares